* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: paleturquoise;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 16px;
}

section {
    max-width: 500px;
    margin:auto;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    color: green;
    margin: 16px;
    padding: 16px;
    display: inline;
}

h2 {
    padding-bottom: 20px;
}

#Avatar { 
    display: block;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;  
}

p {
    text-align: justify;
}

ul, 
ol {
    margin-left: 32px;
}